<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>dispatchify - home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center" style="background-color: rgb(21, 21, 131);">
    <div class="container d-flex align-items-center ">

      <h1 class="logo me-auto"><a style="color: rgb(243, 243, 248);" href="#">Dispatchify</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#signinModal">
            <b>Delivery History</b>
            </button>
         </li>
          <li><li class="ms-3"><a class="btn text-white fw-bold" href="/logout">Logout</a></li>          </li>
            
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
<section id="hero" class="" style="height: fit-content; background-color:rgb(243, 239, 239)">
    <div class="col-12 text-white p-2 mt-2">
        <h3 class="fw-bold text-center mt-3 mb-3 text-dark">Available Deliveries</h3>
       <div class="row mt-2 mb-3" id="raw">
          {{#if deliveries}}  {{#each deliveries}}
              <div class="col-md-3 mb-3 card-container" id="delivery-card-{{this.deliveryID}}" data-delivery-id="{{this.deliveryID}}">
                <div class="card">
                  <div class="card-header text-center" style="background-color: orangered;">
                    <h5 class="card-title"><b>{{this.productName}}</b></h5>
                  </div>
                  <div class="card-body" style="background-color: rgb(245, 203, 126);">
                    <p class="card-text text-dark">Delivery ID: {{this.deliveryID}}</p>
                    <p class="card-text text-dark">Description: {{this.description}}</p>
                    <p class="card-text text-dark">Location: {{this.location}}</p>
                    <p class="card-text text-dark">Date Created: {{this.dateCreated}}</p>
                    <p class="card-text text-dark">Personnel: {{this.personel}}</p>
                  </div>
                  <div class="card-footer d-flex justify-content-between">
                    {{#if isDelivered}}
                      <button class="btn text-white deliver-btn" data-id="{{this.deliveryID}}" style="background-color: rgb(21, 21, 131);">Delivered</button>
                    {{else}}
                      <button class="btn text-white deliver-btn" data-id="{{this.deliveryID}}" style="background-color: rgb(21, 21, 131);">Mark as Delivered</button>
                    {{/if}}
                    <button class="btn btn-secondary close-btn" data-id="{{this.deliveryID}}">Close</button>
                  </div>
                </div>
              </div>
            {{/each}}
          {{else}}  <div class="col-md-12 text-center text-dark">
              <h2 style="color: rgb(21, 21, 131); margin-top:50px">No deliveries available.</h5>
            </div>
          {{/if}}
        </div>

    </div>
</section><!-- End Hero -->

<!-- End Hero -->

  <main id="main">
    <!-- Sign In Modal -->
    <div class="modal fade" id="signinModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-light text-white">
        <div class="modal-header" style="background-color: rgb(21, 21, 131);">
            <h1 class="modal-title fs-5" id="staticBackdropLabel" ><b>Dispatchify</b></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-light">
            <div class="card text-bg-light" style="border-radius: 1rem;">
              <div class="card-header" ><h3>Delivery History</h3></div>
            <div class="card-body p-4 text-center bg-white" style="border-radius:">
              
              <table class="table table-hover table-warning  table-striped">
                <thead class="table-light">
                  <tr >
                    <th scope="col" style="color:orangered">Delivery ID</th>
                    <th scope="col" style="color:orangered">Product Name</th>
                    <th scope="col" style="color:orangered">Description</th>
                    <th scope="col" style="color:orangered">Location</th>
                    <th scope="col" style="color:orangered">Date Created</th>
                    <th scope="col" style="color:orangered">Date Delivered</th>
                    <th scope="col" style="color:orangered">Status</th>
                   
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  {{#each deliveries}}
                    <tr>
                        <td>{{ this.deliveryID }}</td>
                        <td>{{ this.productName }}</td>
                        <td>{{ this.description }}</td>
                        <td>{{ this.location }}</td>
                        <td>{{ this.dateCreated }}</td>
                        <td>{{ this.dateDelivered }}</td>
                        <td>{{ this.status }}</td>
                        
                    </tr>
                  {{/each}}
                </tbody>
              </table>                

             </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           
        </div>
        </div>
    </div>
    </div>

        

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 <footer id="footer" class=" mt-auto py-3" style="position: fixed; left: 0; bottom: 0; width: 100%;">
    <div class="footer-top" style=" padding: 1px">
        <div class="container ms-1 mb-0 ps-3 pb-2" style="height:; padding:0">
            <div class="row align-items-center" style="; display: flex; justify-content: space-between;">
                <div class="col-lg-3 col-md-6 col-3" style="height:2em">
                    <div class="footer-info">
                        <div class="social-links" style="display: flex; margin: bottom 0;">
                            <a href="#" class="twitter" style="margin-right: 10px;"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook" style="margin-right: 10px;"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram" style="margin-right: 10px;"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus" style="margin-right: 10px;"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin" style="margin-right: 10px;"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-9 text-center" style="padding: 1px margin-top:0">
                    <div class="copyright" >
                        &copy; Copyright <strong><span>Dispatchify</span></strong>. All Rights Reserved
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('.deliver-btn').forEach(button => {
        button.addEventListener('click', function() {
          const deliveryID = this.getAttribute('data-id');

          fetch(`/deliver/${deliveryID}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              // Change the button text to "Delivered"
              this.textContent = 'Delivered';
              this.disabled = true;

              // Update the delivery history table dynamically
              const tableBody = document.getElementById('delivery-history-body');
              const newRow = document.createElement('tr');
              newRow.innerHTML = `
                <td>${data.delivery.deliveryID}</td>
                <td>${data.delivery.productName}</td>
                <td>${data.delivery.description}</td>
                <td>${data.delivery.location}</td>
                <td>${data.delivery.dateCreated}</td>
                <td>${data.delivery.dateDelivered}</td>
                <td>${data.delivery.status}</td>
                <td>
                  <button class="btn text-white" style="background-color: rgb(21, 21, 131);">Edit</button>
                  <button class="btn btn-secondary">Delete</button>
                </td>
              `;
              tableBody.appendChild(newRow);
            } else {
              console.error('Failed to deliver the item');
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
        });
      });

      document.querySelectorAll('.close-btn').forEach(button => {
        button.addEventListener('click', function() {
          const deliveryID = this.getAttribute('data-id');
          const card = document.getElementById(`delivery-card-${deliveryID}`);
          if (card) card.remove();
        });
      });
    });

    function updateDateTime() {
      const now = new Date();
      const dateTimeString = now.toLocaleString('en-GB', {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit'
      });
      document.getElementById('currentDateTime').innerText = dateTimeString;
    }

    updateDateTime();
    setInterval(updateDateTime, 1000);

   document.addEventListener('DOMContentLoaded', function () {
    const deliveriesContainer = document.getElementById('raw');

    // Check if there are no delivery cards
    if (deliveriesContainer.children.length === 0) {
      const noDeliveriesMessage = document.createElement('div');
      noDeliveriesMessage.classList.add('col-md-12', 'text-center', 'mt-4');
      noDeliveriesMessage.innerHTML = '<h5>No deliveries available.</h5>';

      // Improved positioning using flexbox
      deliveriesContainer.style.display = 'flex';
      deliveriesContainer.style.color = 'black'
      deliveriesContainer.style.justifyContent = 'center';
      deliveriesContainer.style.alignItems = 'center';
      deliveriesContainer.appendChild(noDeliveriesMessage);
    }
  });
  function checkDivContent(divId, textToDisplay) {
  const divElement = document.getElementById(divId);

  if (!divElement) {
    console.error(`Div with ID "${divId}" not found.`);
    return; // Exit function if the div isn't found
  }

  const divContent = divElement.textContent.trim(); // Remove leading/trailing whitespace

  if (divContent === "") {
    divElement.textContent = textToDisplay;
  }
}

// Example usage:
checkDivContent("hero", "No content available.");
  </script>
</body>

</html>