<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>dispatchify - home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <style>
    .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .social-links a {
        margin-right: 10px;
        color: white; /* Change to your desired color */
        text-decoration: none;
    }

    .copyright {
        flex-grow: 1;
        text-align: center;
    }

    .credits {
        text-align: center;
    }

  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center" style="background-color: rgb(21, 21, 131);">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a style="color: rgb(248, 248, 253);" href="#">Dispatchify</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#delivery"><b>Deliveries</b></button></li>
          <li class="ms-3"><button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#personelModal"><b>Personels</b></button></li>
          <li class="ms-3"><a class="btn text-white fw-bold" href="/logout">Logout</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="col-12 text-dark bg-light p-5" style="height: 70%;">
      <h1></h1>
    </div>
  </section>

  <main id="main">
        <!-- Deliveries Modal -->
        <div class="modal fade" id="delivery" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deliveryLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content  text-white">
            <div class="modal-header" style="background-color: rgb(21, 21, 131);">
                <h1 class="modal-title fs-5" id="deliveryLabel"><b>Dispatchify</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card text-bg-light" style="border-radius: 1rem;">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1"><b>Deliveries</b></h4>
                    <div class="flex-shrink-0">
                    <button type="button" class="btn btn-soft-info btn-sm text-white" style="background-color: rgb(21, 21, 131);" data-bs-toggle="modal" data-bs-target="#newDelivery">
                        <i class="ri-file-list-3-line align-middle"></i> <b>New Delivery</b>
                    </button>
                    </div>
                </div>
                <div class="card-body p-4 text-center">
                    <table class="table table-hover table-warning table-striped" id="delivriesTable">
                    <thead class="" >
                        <tr >
                        <th scope="col" style="color:orangered">Delivery ID</th>
                        <th scope="col" style="color:orangered">Product Name</th>
                        <th scope="col" style="color:orangered">Description</th>
                        <th scope="col" style="color:orangered">Location</th>
                        <th scope="col" style="color:orangered">Date Created</th>
                        <th scope="col" style="color:orangered">Personel</th>
                        <th scope="col" style="color:orangered">Date Delivered</th>
                        <th scope="col" style="color:orangered">Status</th>
                        <th scope="col" style="color:orangered">Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {{#each deliveries}}
                        <tr>
                            <td>{{ this.deliveryID }}</td>
                            <td>{{ this.productName }}</td>
                            <td>{{ this.description }}</td>
                            <td>{{ this.location }}</td>
                            <td>{{ this.dateCreated }}</td>
                            <td>{{ this.personel }}</td>
                            <td>{{ this.dateDelivered }}</td>
                            <td>{{ this.status }}</td>
                            <td>
                                <button class="btn text-white" style="background-color: rgb(21, 21, 131);">Edit</button>
                                <button class="btn btn-secondary">Delete</button>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>

        <!-- Personel Modal -->
        <div class="modal fade" id="personelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="personelLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content bg-white text-dark">
            <div class="modal-header text-white" style="background-color: rgb(21, 21, 131);">
                <h1 class="modal-title fs-5" id="personelLabel"><b>Dispatchify</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card text-bg-light" style="border-radius: 1rem;">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1"><b>Personels</b></h4>
                    <div class="flex-shrink-0">
                    <button type="button" class="btn btn-soft-info btn-sm text-white" style="background-color: rgb(21, 21, 131);" data-bs-toggle="modal" data-bs-target="#newPersonel">
                        <i class="ri-file-list-3-line align-middle"></i> <b>New Personel</b>
                    </button>
                    </div>
                </div>
                <div class="card-body p-4 text-center">
                    <table class="table table-hover table-light table-striped">
                    <thead class="table-light">
                        <tr>
                        <th scope="col">Personel ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Date Joined</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>                    
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {{#each personels}}
                        <tr>
                            <td>{{ this.personelID }}</td>
                            <td>{{ this.name }}</td>
                            <td>{{ this.email }}</td>
                            <td>{{ this.phone }}</td>
                            <td>{{ this.dateJoined }}</td>
                            <td>{{ this.status }}</td>
                            <td>
                                <button class="btn btn-primary">Edit</button>
                                <button class="btn btn-primary">Delete</button>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>

        <!-- New Delivery Modal -->
        <div class="modal fade" id="newDelivery" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newDeliveryLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-white text-dark">
            <div class="modal-header text-bg-success">
                <h1 class="modal-title fs-5" id="newDeliveryLabel"><b>Dispatchify</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                    <div class="card-header">
                        <h6 class="card-title mb-0"><b>Create New Delivery</b></h6>
                    </div>
                    <div class="card-body">
                        <form id="deliveryForm" action="/new-delivery" method="post">
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label class="form-label ms-2">Delivery ID</label>
                                <input type="text" class="form-control" name="deliveryID" placeholder="Delivery ID" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label class="form-label ms-2">Product Name</label>
                                <input type="text" class="form-control" name="productName" placeholder="Product Name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label class="form-label ms-2">Description</label>
                                <input type="text" class="form-control" name="description" placeholder="Description" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label class="form-label ms-2">Location</label>
                                <input type="text" class="form-control" name="location" placeholder="Location" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label class="form-label ms-2">Date</label>
                                <input type="date" class="form-control" name="dateCreated" placeholder="Date Created" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label class="form-label ms-2">Assigned To:</label>
                                <input type="text" class="form-control" name="personel" placeholder="Personel ID" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right;">Create</button>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>

        <!-- New Personel Modal -->
        <div class="modal fade" id="newPersonel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newDeliveryLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-white text-dark">
            <div class="modal-header text-bg-success">
                <h1 class="modal-title fs-5" id="newDeliveryLabel"><b>Dispatchify</b></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                    <div class="card-header">
                        <h6 class="card-title mb-0"><b>Enter New Personel Details</b></h6>
                    </div>
                    <div class="card-body">
                        <form id="deliveryForm" action="/new-personel" method="post">
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label class="form-label ms-2">Personel ID</label>
                                <input type="text" class="form-control" name="personelID" placeholder="Enter employee id" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label class="form-label ms-2">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Full name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label class="form-label ms-2">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Enter email" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label class="form-label ms-2">Phone</label>
                                <input type="text" class="form-control" name="phone" placeholder="Phone number" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-4">
                                <label class="form-label ms-2">Date</label>
                                <input type="date" class="form-control" name="dateJoined" placeholder="Date joined" required>
                            </div>
                            <div class="mb-3 col-4">
                                <label class="form-label ms-2">Password</label>
                                <input type="text" class="form-control" name="password" placeholder="Enter password" required>
                            </div>
                            <div class="mb-3 col-4">
                                <label class="form-label ms-2">Confirm Password</label>
                                <input type="text" class="form-control" name="confirmPassword" placeholder="Renter password" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right;">Add</button>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>

        
        <!-- Success Alert -->
        <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
        New delivery created successfully!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style=" padding: 1px">
        <div class="container ms-1 mb-0 ps-3 pb-2" style="height:; padding:0">
            <div class="row align-items-center" style="; display: flex; justify-content: space-between;">
                <div class="col-lg-3 col-md-6 col-3" style="height:2em">
                    <div class="footer-info">
                        <div class="social-links" style="display: flex; margin: bottom 0;">
                            <a href="#" class="twitter" style="margin-right: 10px;"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook" style="margin-right: 10px;"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram" style="margin-right: 10px;"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus" style="margin-right: 10px;"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin" style="margin-right: 10px;"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-9 text-center" style="padding: 1px margin-top:0">
                    <div class="copyright" >
                        &copy; Copyright <strong><span>Dispatchify</span></strong>. All Rights Reserved
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Get the modals
            var deliveryModal = new bootstrap.Modal(document.getElementById('delivery'));
            var newDeliveryModal = new bootstrap.Modal(document.getElementById('newDelivery'));
            var deliveryModal = new bootstrap.Modal(document.getElementById('personelModal'));
            var newDeliveryModal = new bootstrap.Modal(document.getElementById('newPersonel'));

            // Event listener for showing the newDelivery modal
            document.getElementById('newDelivery').addEventListener('show.bs.modal', function (event) {
            deliveryModal.hide();
            });

            // Event listener for hiding the newDelivery modal
            document.getElementById('newDelivery').addEventListener('hidden.bs.modal', function (event) {
            deliveryModal.show();
            });

            // Event listener for showing the newPersonel modal
            document.getElementById('newPersonel').addEventListener('show.bs.modal', function (event) {
            deliveryModal.hide();
            });

            // Event listener for hiding the newDelivery modal
            document.getElementById('newPersonel').addEventListener('hidden.bs.modal', function (event) {
            deliveryModal.show();
            });

            // Handle URL success parameter and alert display
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('success')) {
                const successAlert = document.getElementById('success-alert');
                successAlert.style.display = 'block';

                // Show the modal again
                newDeliveryModal.show();

                // Reset form data
                document.getElementById('deliveryForm').reset();

                // Remove the success parameter from the URL
                window.history.replaceState({}, document.title, window.location.pathname);
            }
        });
  </script>

</body>

</html>
